body {
	width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main{
	padding: 50px;
	text-align: center;
}

#second{
	padding: 50px;
}

#third{
	  padding: 50px;
}

#sentiment{
	background-color: #3B3D42;
	text-align: center;
	display: inline-block;
	width:100%;

}

#gtop{
	text-align: center;
	overflow: visible;

}
#gbot{
	text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}