body {
	width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main{
	padding: 50px;
	text-align: center;
}

#second{
	padding: 50px;
}

#third{
	  padding: 50px;
}

#sentiment{
	background-color: none;
	text-align: center;
	display: inline-block;
	width:100%;

}

#gtop{
	border: solid 1px;
	text-align: center;
}
#gbot{

	text-align: center;
}